.container {
  display: flex;
  position: relative;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../../assets/ChooseGameCover.png");
  background-position: center;
  min-height: 100svh;
  height: 100%;
  width: 100%;
}

.options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-image: url("../../assets/MenuBackCover.png");
  background-position: center;
  background-size: cover;
  margin: auto; /* 15% from the top and centered */
  padding: 50px 50px 50px 50px;
  width: 300px; /* Could be more or less, depending on screen size */
  height: 430px;
  border-radius: 0.5rem;
}

.header {
  text-align: center;
  color: var(--dark-golden);
  font-size: 20px;
}

.divider {
  color: var(--dark-golden);
  border: none;
  border-top: 2px solid var(--dark-golden);
  height: 3px;
  width: 90%;
}

.version {
  font-size: 1.5rem;
  color: var(--light-gray);
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.loginBtn {
  position: absolute;
  height: 40px;
  width: fit-content;
  min-width: 80px;
  font-weight: 600;
  top: 1rem;
  left: 1rem;
  padding: 5px 10px;
  font-family: Roboto;
  cursor: pointer;
}

.loginBtn.primary {
  background-color: var(--golden);
  border-color: var(--dark-blue);
  color: var(--dark-blue);
}

.loginBtn.secondary {
  background-color: var(--light-gray);
  border-color: var(--purple);
  color: var(--dark-color);
}


@media (max-width: 767px) {
  .header {
    font-size: 14px;
  }
  .options {
    height: 350px;
    width: 240px;
  }
  .version {
    font-size: 12px;
  }
}