.btn {
  border: 0.2rem solid var(--dark-golden);
  width: 160px;
  height: 45px;
  font-family: "Roboto-SemiBold", Helvetica;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 24px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  transform: scale(1.1);
}

.primary {
  background-color: var(--dark-red-color);
  color: var(--light-gray);
}

.secondary {
  background-color: var(--golden);
  font-size: 13px;
  color: var(--dark-color);
}

@media (max-width: 767px) {
  .btn {
    font-size: 12px;
    height: 35px;
    width: 140px;
  }
}