/* Battlfield */
/* BattlefieldOption */

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../../assets/battlefield/BattleFieldCastles.png");
  background-position: center;
  height: 100vh;
  overflow: hidden;
  padding: 0;
}

.main {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  padding: 0;
  margin-top: 0;
  gap: 0.8rem;
  margin-top: 0;
}

.handsContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  height: 100%;
  width: 100%;
  gap: 1rem;
}

.heropad1 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 22rem;
  gap: 1rem;
  align-items: flex-start;
  padding: 0 0 0 0;
}

.heropad2 {
  width: 100%;
  display: flex;
  height: 22rem;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1rem;
  align-items: flex-start;
  padding: 0;
}

.playerHand {
  height: 14.3rem;
  width: 37rem;
  min-width: 25rem;
  border: 0.2rem solid var(--dark-color);
  border-radius: 0.3rem;
  padding: 0.8rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.fistRound {
  z-index: 5;
}

.core {
  /* background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../../assets/battlefield/BrownBack.jpeg"); */
  border-radius: 0.3rem;
  /* padding: 0.3rem; */
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 0.8rem;
  justify-items: center;
  margin-top: 0.3rem;
}

.topspells {
  display: flex;
  justify-content: center;
  grid-column-gap: 0.5rem;
}

.middleCells {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
}

.middleFieldcells {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(4, auto);
  grid-gap: 0.4rem;
}

.middleSpells {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 2rem;
  justify-items: center;
}

.cardAnimationEnter {
  opacity: 1;
  transform: scale(1.3);
}
.cardAnimationActive {
  opacity: 1;
  transform: scale(1);
  transition: opacity 500ms ease-in, transform 500ms ease-in;
}
.cardAnimationExit {
  transform: scale(1.3);
  transform: translate(0);
  opacity: 1;
}
.cardAnimationExitActive {
  opacity: 0;
  transform: scale(1.3);
  transition: opacity 500ms ease-in, transform 500ms ease-in;
}
