/* @import url('./src/components/MainPage/MainPage.css');
@import url('./src/components/PrimaryButton.css');
@import url('./src/components/Battlefield.css');
@import url('./src/components/ErrorPage.css');
@import url('./src/modals/Modals.css'); */

html {
  scroll-behavior: smooth;
  font-size: 22px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: var(--black-color);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  /* colors */
  --main-background: linear-gradient(180deg, rgba(233, 205, 191, 0.8) 0%, rgb(224, 169, 127) 100%);
  --golden: #fbb270;
  --black-font: #252525;
  --dark-golden: #845c3a;
  --dark-color: #3F3A3A;
  --light-brown-color: #E0A97F;
  --dark-red-color: #C65B4D;
  --white-color: rgb(238, 238, 238);
  --black-color: rgb(21, 21, 21);
  --dark-blue: #484860;
  --red: #850409;
  --purple: #484860;
  --light-gray: #e1e1e1;
  --dark-gray: #868686;
  --green: rgb(46, 135, 46);
  --red-light: rgb(215, 44, 44);

  /* dimensions */
  --hand-card-width: 8rem;
  --cell-width: 7.4rem;
  --cell-content-width: 6rem;

  --cursor-gold: url('./assets/CursorRed.svg'), auto;
}

.border-black {
  border: 0.2rem solid var(--black-color);
  border-radius: 0.5rem;
}


@font-face {
  font-weight: 400; /* Соответствует значению normal */
  font-family: Almendra;
  src: url("./fonts/Almendra-Regular.ttf");
}

@font-face {
  font-weight: 700; /* Соответствует значению bold */
  font-family: Almendra;
  src: url("./fonts/Almendra-Bold.ttf");
}



@media (min-width: 0) and (max-width: 767px) {
  html {
    font-size: 8.5px;
  }
}

@media (min-width: 768px) and (max-width: 900px) {
  html {
    font-size: 10px;
  }
}


@media (min-width: 901px)  and (max-width: 1024px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 1025px) and (max-width: 1200px) {
  html {
    font-size: 13px;
  }
}

@media (min-width: 1201px) and (max-width: 1300px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 1301px) and (max-width: 1400px) {
  html {
    font-size: 15px;
  }
}

@media (min-width: 1401px)  and (max-width: 1500px) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 1501px) and (max-width: 1650px) {
  html {
    font-size: 18px;
  }
}

@media (min-width: 1651px) and (max-width: 1750px) {
  html {
    font-size: 20px;
  }
}




