:root {
  /* colors */
  --main-background: linear-gradient(180deg, rgba(233, 205, 191, 0.8) 0%, rgb(224, 169, 127) 100%);
  --golden: #fbb270;
  --black-font: #252525;
  --dark-golden: #845c3a;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-weight: 400; /* Соответствует значению normal */
  font-family: Almendra;
  src: url("./fonts/Almendra-Regular.ttf");
}

@font-face {
  font-weight: 700; /* Соответствует значению bold */
  font-family: Almendra;
  src: url("./fonts/Almendra-Bold.ttf");
}

.w-90 {
  max-width: 1000px;
  width: 90%;
}

.text-mute {
  margin-top: 1rem;
  text-decoration: none;
  color: var(--black-font);
  opacity: 0.7;
}

.mt-2 {
 margin-top: 2rem;
}

.link {
  text-decoration: none;
}

.main {
  background: var(--main-background);
  font-family: "Roboto-Regular", Helvetica;
  line-height: 2rem;
  color: var(--black-font);
  padding-bottom: 5rem;
}

.cover {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("./assets/Cover_back.png");
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-set {
  display: flex;
  flex-direction: column;
  min-width: 350px;
}

.main-logo {
  max-width: 400px;
}

.buttons-set {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 50px;
}

.main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  padding: 0;
  justify-content: center;
}

.description-big {
  margin: 2rem 0 1rem 0;
  line-height: 40px;
  font-size: 25px;
}

.description-normal {
  margin-top: 1.5rem;
  line-height: 35px;
  font-size: 20px;
}

.main-title {
  font-family: "Almendra", Helvetica;
  font-weight: 700;
  font-size: 60px;
  margin-top: 6rem;
  word-wrap: break-word;
  line-height: 4rem;
}

.main-h2 {
  font-size: 40px;
  line-height: 4rem;
}

.main-h3 {
  margin-top: 4rem;
  text-align: center;
  font-size: 30px;
}

.hr-double {
  color: var(--dark-golden);
  border: solid;
  height: 2px;
  width: 100%;
}

.hr-thin {
  color: var(--dark-golden);
  border: none;
  border-top: 2px solid var(--dark-golden);
  height: 3px;
  width: 100%;
}

.game-factions-set {
  margin: 6rem 0 4rem 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem 2rem;
  width: 100%;
  justify-content: space-between;
}

.factions-logo {
  width: 10rem;
}

.feature-img {
  width: 20rem;
  height: 20rem;
}

.game-feature-set {
  margin: 4rem 0 4rem 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  gap: 3rem 4rem;
}

.game-feature-set-r {
  margin: 4rem 0 4rem 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  gap: 3rem 4rem;
}

.feature-text {
  margin: 0;
  padding: 0;
  font-size: 20px;
  line-height: 35px;
  width: 20rem;
  flex-grow: 2;
  vertical-align: top;
}

.flex-reverse {
  flex-direction: row;
}

/* 3D CARDS */

.card {
  width: 10rem;
  height: 10rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0 36px;
  perspective: 2500px;
  margin: 0;
}

.cover-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wrapper {
  transition: all 0.5s;
  position: absolute;
  width: 100%;
  z-index: -1;
  border-radius: 100%;
}

.card:hover .wrapper {
  transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
  box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
}

.wrapper::before,
.wrapper::after {
  content: "";
  opacity: 0;
  width: 100%;
  height: 80px;
  transition: all 0.5s;
  position: absolute;
  left: 0;
}
.wrapper::before {
  top: 0;
  height: 100%;
  background-image: linear-gradient(
    to top,
    transparent 100%,
    rgba(12, 13, 19, 0.5) 68%,
    rgba(12, 13, 19) 97%
  );
}
.wrapper::after {
  bottom: 0;
  opacity: 0;
  background-image: linear-gradient(
    to bottom,
    transparent 100%,
    rgba(12, 13, 19, 0.5) 68%,
    rgba(12, 13, 19) 97%
  );
}

.card:hover .wrapper::before,
.wrapper::after {
  opacity: 1;
}

.card:hover .wrapper::after {
  height: 10rem;
}

.character {
  width: 100%;
  opacity: 0;
  transition: all 0.5s;
  position: absolute;
  z-index: -1;
}

.card:hover .character {
  opacity: 1;
  transform: translate3d(0%, -20%, 100px);
}


@media screen and (max-width: 767px) {
  html {
    font-size: 13px;
  }
  .text-mute {
    font-size: 14px;
  }

  .main-title {
    font-size: 45px;
  }

  .main-h2 {
    font-size: 30px;
  }

  .main-h3 {
    font-size: 20px;
  }

  .description-big {
    text-justify: inter-word;
    font-size: 20px;
    line-height:30px;
  }

  .description-normal {
    text-justify: inter-word;
    font-size: 16px;
    line-height:25px;
  }

  .feature-text {
    text-justify: inter-word;
    font-size: 16px;
    line-height:25px;
  }
}