.primary-button {
  align-items: center;
  display: flex;
  gap: 8px;
  height: 55px;
  justify-content: center;
  padding: 12px 30px;
  transition: all 0.3s ease;
  width: fit-content;
  cursor: pointer;
}

.primary-button .label {
  font-family: "Roboto", Helvetica;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 24px;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.primary-button .icon {
  height: 20px !important;
  min-width: 20px !important;
  position: relative !important;
}

.primary-button.hover {
  border: 2px solid;
}

.primary-button.default {
  border: 2px solid;
}

.primary-button.absolute {
  position: absolute;
  border: 2px solid;
}

.primary-button.primary {
  border: 2px solid;
}

.primary-button.default.secondary {
  background-color: var(--golden);
  border-color: var(--dark-color);
}

.primary-button.hover.primary {
  background-color: var(--golden);
  border-color: var(--golden);
}

.primary-button.disabled.primary {
  background-color: var(--dark-gray);
  border-color: var(--golden);
}

.primary-button.hover.secondary {
  background-color: var(--light-brown-color);
  border-color: var(--dark-color);
}

.primary-button.default.primary {
  background-color: var(--dark-red-color);
  border-color: var(--dark-golden);
}

.primary-button.disabled.secondary {
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--dark-gray);
}

.primary-button.default.secondary .label {
  color: var(--dark-color);
}

.primary-button.hover.primary .label {
  color: var(--dark-golden);
}

.primary-button.disabled.primary .label {
  color: var(--dark-gray);
}

.primary-button.hover.secondary .label {
  color: var(--dark-color);
}

.primary-button.default.primary .label {
  color: var(--golden);
}

.primary-button.disabled.secondary .label {
  color: var(--dark-gray);
}

@media screen and (max-width: 935px) {
  .primary-button {
    height: 40px;
    padding: 12px 15px;
  }
}