.window {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 2rem;
  top: 6.5rem;
  width: 22rem;
  height: 20rem;
  background: var(--dark-blue);/* 15% from the top and centered */
  padding: 1rem 1rem;
  border: 1px solid #888;
  border-radius: 0.5rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  gap: 2rem;
  padding: 1rem 1rem;
  border: 0.5rem double var(--golden);
}

.btnBlock {
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
  width: 100%;
}

.title {
  color: var(--light-gray);
  font-size: 1rem;
  line-height: 1.5rem;
}

.btn {
  border: 0.1rem solid var(--dark-red-color);
  padding: 0.5rem;
  background: transparent;
  cursor: pointer;
  color: var(--light-gray);
  font-size: 0.8rem;
}