.container {
  position: fixed; /* Stay in place */
  display: flex;
  justify-content: center;
  align-items: top;
  z-index: 10; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.contentDark {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  background-color: var(--dark-blue);
  background-image: url('@assets/BlackStone.png');
  margin: auto; /* 15% from the top and centered */
  padding: 2rem 2rem;
  border: 2px solid var(--golden);
  width: fit-content; /* Could be more or less, depending on screen size */
  min-width: 400px;
  height: fit-content;
  border-radius: 0.5rem;
  color: var(--light-gray);
}

.headerLight {
  color: var(--golden);
  font-size: 2rem;
  text-align: center;
}

.hotseatForm {
  height: 100%;
}

.fieldset {
  height: 100%;
  border: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
}

.slidesContainer {
 display: flex;
 justify-content: space-around;
 align-items: flex-start;
 gap: 3rem;
}

.playerSlides {
  display: flex;
  flex-direction: column;
  width: 12rem;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}

.slideBlock {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.slideInput {
  display: none;
}

.label {
  height: 1.5rem;
  width: 4rem;
  font-weight: 600;
  padding: 0.5rem;
  font-size: 1.2rem;
  background-color: transparent;
  color: var(--light-gray);
  border: none;
  text-align: center;
  grid-column: 1 / span 3;
  width: 100%;
  padding: 0;
  line-height: 1rem;
}

.player {
  color: var(--golden);
  font-size: 1.5rem;
}

.link {
  text-decoration: none;
}

.headerBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.btnBlock {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 20px;
}

.playerTypeBlock {
  display: flex;
  justify-content: row;
  gap: 0.3rem;
  justify-content: center;
  align-items: center;
}

.playerTypeHeader {
  font-size: 1rem;
  color: var(--golden);
}

.playerTypeHuman {
  color: var(--light-gray);
  border: none;
  padding: 0.3rem;
  font-size: 1rem;
}

.selectBlock {
  border: 0.1rem solid var(--light-gray);
  padding: 0.3rem;
}

.playerTypeSelect {
  color: var(--light-gray);
  border: none;
  font-size: 1rem;
  background-color: transparent;
}

.difficultyHeader {
  font-size: 1rem;
  color: var(--golden);
}

.difficultyBlock {
  display: flex;
  justify-content: row;
  gap: 0.3rem;
  justify-content: center;
  align-items: center;
}

@media (max-width: 900px) {
}
