.window {
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  display: flex;
  flex-direction: wrap;
  align-items: center;
  flex-wrap: nowrap;
  background-color: var(--dark-blue);
  margin: auto auto; /* 15% from the top and centered */
  padding: 1rem;
  border: 1px solid #888;
  border-radius: 10px;
  transition: all 0.3s linear;
}

.open {
  transform: translateX(0);
}

.closed {
  transform: translateX(100%);
}

