.window {
  position: fixed; 
  display: flex;
  justify-content: center;
  align-items: top;
  z-index: 5;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background-image: url('@assets/BlackStone.png');
  background-color: var(--dark-blue);
  margin: auto auto;
  padding: 20px;
  border: 2px solid var(--golden);
  width: 400px; 
  height: 300px;
  border-radius: 0.5rem;
}


.title {
  color: var(--light-gray);
  font-size: 25px;
  text-align: center;
}


@media (max-width: 767px) {
  .content {
    width: 320px;
  }

  .title {
    color: var(--light-gray);
    font-size: 20px;
  }
  
}