/* Cell */

.defaultSize {
  width: calc(var(--cell-width) - 0.8rem);
  height: calc(var(--cell-width) - 0.8rem); 
}

.titleDefault {
  font-family: "Roboto-Bold", Helvetica;
  font-size: 0.6rem;
  word-break: break-word;
  text-align: center;
  margin: 0.5rem;
}

.spell {
  display: flex;
  justify-content: center;
  border-radius: 0.3rem;
  align-items: center;
  background-color: var(--light-brown-color), 0.7;
  padding: 0;
}

.bigSpell {
  position: relative;
  border-radius: 0.3rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  width: calc(var(--cell-width) + 0.5rem);
  height: calc(var(--cell-width) - 0.8rem);
  padding: 0;
}

.border {
  border: 0.2rem solid var(--dark-color);
}

.defaultBtn {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
}

.field {
  background-image: url('@assets/battlefield/FieldCell.png');
  border-radius: 0.3rem;
  background-color: transparent;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  width: calc(var(--cell-width));
  height: calc((var(--cell-width) * 1.075));
  /*1.16 0.3rem*/
  padding-bottom: 0.4rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-end;
}

.attackIcon {
  position: absolute;
  left: 1rem;
  top: 1.2rem;
  width: 5rem;
  height: 5rem;
  animation: 1.5s 0.5 normal warAttacked;
  opacity: 0;
  z-index: 5;
}

.MagicAttackIcon {
  position: absolute;
  left: 1.5rem;
  top: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  width: 5rem;
  height: 5rem;
  animation: 1.5s 1 normal magicAttacked;
  opacity: 0;
  z-index: 5;
}

.healIcon {
  position: absolute;
  left: 1.5rem;
  top: 1.5rem;
  width: 5rem;
  height: 5rem;
  animation: 1.5s 1 normal healed;
  opacity: 0;
  z-index: 5;
}

.animationGreen {
  animation: 1.5s infinite alternate greenglowing;
}

.animationGreenInset {
  animation: 1.5s infinite alternate greenGlowingInset;
}

.animationRedInset {
  animation: 1.5s infinite alternate redGlowingInset;
}



@keyframes greenglowing {
  from {
    box-shadow: 0rem  0rem  0.3rem  0.3rem var(--green);
  }

  to {
    box-shadow: 0rem  0rem  0.5rem  0.5rem var(--green);
  }
}

@keyframes greenGlowingInset {
  from {
    box-shadow: inset 0rem  0rem  0.3rem  0.3rem var(--green);
  }

  to {
    box-shadow: inset 0rem  0rem  0.5rem  0.5rem var(--green);
  }
}

.animationRed {
  animation: 1.5s infinite alternate redglowing;
}

@keyframes redglowing {
  from {
    box-shadow: 0rem  0rem  0.3rem  0.3rem var(--red-light);
  }

  to {
    box-shadow: 0rem  0rem  0.5rem  0.5rem var(--red-light);
  }
}

@keyframes redGlowingInset {
  from {
    box-shadow: inset 0rem  0rem  0.3rem  0.3rem var(--red-light);
  }

  to {
    box-shadow: inset 0rem  0rem  0.5rem  0.5rem var(--red-light);
  }
}

.animationCanMakeTurn {
  animation: 1.5s infinite alternate yellowGlowing;
}

@keyframes yellowGlowing {
  from {
    box-shadow: 0rem  0rem  0.3rem  0.3rem var(--golden-bright);
  }

  to {
    box-shadow: 0rem  0rem  0.5rem  0.5rem var(--golden-bright);
  }
}


@keyframes warAttacked {
  from {
    transform: rotate(-45deg);
    opacity: 1;
  }

  to {
    transform: rotate(60deg);
    opacity: 1;
  }
}

@keyframes magicAttacked {
  from {
    transform: scale(0.5) rotate(0deg);
    opacity: 1;
  }

  to {
    transform: rotate(120deg) scale(1.5);
    opacity: 1;
  }
}

@keyframes healed {
  from {
    transform: scale(0.5);
    opacity: 1;
  }

  to {
    transform: scale(1.2);
    opacity: 1;
  }
}

.cardAnimationEnter {
  opacity: 1;
  transform: scale(1.3);
}
.cardAnimationActive {
  opacity: 1;
  transform: scale(1);
  transition: opacity 500ms ease-in, transform 500ms ease-in;
}
.cardAnimationExit {
  transform: scale(1.3);
  transform: translate(0);
  opacity: 1;
}
.cardAnimationExitActive {
  opacity: 0;
  transform: scale(1.3);
  transition: opacity 500ms ease-in, transform 500ms ease-in;
}

.cellAnimationEnter {
  opacity: 0;
  height: 0;
  width: 0;
  transform: translateY(-100%);
}

.cellAnimationActive {
  opacity: 0;
  height: 0;
  width: 0;
  transform: translateY(-100%);
}

.cellAnimationDone {
  opacity: 1;
  height: 100%;
  width: 100%;
  transform: translateY(0);
  transition: opacity 500ms ease-in, transform 500ms ease-in;
}

.cellAnimationExit {
  opacity: 1;
}
.cellAnimationExitActive {
  opacity: 0;
  transition: opacity 0ms ease-in, transform 0ms ease-in;
}