/* Header */

.container {
  background-image: url('@assets/BlackStone.png');
  border: 2px solid var(--golden);
  width: 100%;
  height: 3rem;
  margin-top: 0;
  display: flex;
  flex-wrap: nowrap;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 5;
}

.titleBlock {
  display: flex;
  flex-direction: row;
  gap: 0.3rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.3rem;
  padding: 0.3rem;
}

.title {
  color: var(--white-color);
  font-size: 0.7rem;
  opacity: 0.7;
}

.playerTitle {
  color: var(--golden);
  font-size: 1rem;
}

.playersInfo {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.counter {
  border-radius: 50%;
  background-color: var(--black-color);
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
}

.counterNum {
  font-size: 2rem;
  color: var(--white-color);
}

.centralBlock {
  background-color: transparent;
  height: 100%;
  width: 100%;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  border-radius: 0 0 0.3rem 0.3rem;
  padding: 0.5em;
  z-index: 2;
}

.infoContainer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;;
  gap: 1rem;
}

.endTurnBtn {
  border: 0.2rem solid var(--dark-golden);
  padding: 0.1rem;
  background: var(--dark-red-color);
  height: 2.5rem;
  width: 6rem;
  font-size: 0.7rem;
  color: var(--golden);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.endTurnBtn:hover {
  transform: scale(1.1);
}

.menuBtn {
  border: none;
  font-size: 1rem;
  background: transparent;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  transition: all 0.3s linear;
}

.menuBtn > img {
  width: 100%;
  height: 100%;
}

.turnAnimation {
  animation: 1.5s infinite alternate glowing;
}

@keyframes glowing {
  from {
    box-shadow: 0rem  0rem  0.3rem  0.3rem var(--golden);
  }

  to {
    box-shadow: 0rem  0rem  0.5rem  0.5rem var(--golden);
  }
}

/* @media (min-width: 0) and (max-width: 767px) {
  .header {
    height: 5rem;
  }
} */
