/* ActionButton */

.btn {
  display: inline-flex;
  height: 2.5rem;
  width: 7rem;
  padding: 0.75rem 0.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  flex-shrink: 0;
  border: 0.2rem solid var(--golden);
  background: var(--dark-blue);
  transition: transform 0.3s;
  cursor: pointer;
}

.btn:hover {
  transform: scale(1.1);
}

.btnLabel {
  color: var(--golden);
  text-align: center;
  font-family: Roboto;
  font-size: 0.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5rem;
}

.btnIcon {
  color: var(--golden);
  width: 1.25rem;
  height: 1.25rem;
}

.redBack {
  background: var(--dark-red-color);
}

