/* ActiveCard */
.active-card_block-1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 0.5rem;
  z-index: 3;
}

.active-card_block-2 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 0.5rem;
  z-index: 3;
}

.active-card__buttons {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  gap: 0.6rem;
  height: 100%;
}
