/* Card */

.card-block {
  width: var(--hand-card-width);
  height: calc(var(--hand-card-width) * 1.6);
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 0;
  margin: 0;
  gap: 0;
  overflow: hidden;
  border: 0.2rem solid var(--black-color);
  border-radius: 0.5rem;
  transition: transform 0.3s linear;
  z-index: 1;
  cursor: pointer;
}

.card-block:hover {
  transform: scale(1.3);
  z-index: 100;
}

.card-block_active {
  width: calc((var(--hand-card-width)) * 1.6);
  height: calc((var(--hand-card-width)) * 1.6 * 1.6);
}

.card-block_active:hover {
  transform: none;
}

.card-block__image-container {
  position: relative;
  width: 100%;
  height: 70%;
}

.card-block__main-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-block__image-container h3 {
  color: var(--white-color);
  font-family: "Roboto-Bold", Helvetica;
  text-shadow: 1px 0 0 var(--dark-color),0 1px 0 var(--dark-color), -1px 0 0 var(--dark-color),0 -1px 0 var(--dark-color);
  font-size: 1.2rem;
  position: absolute;
}

.card-block__image-container.active h3 {
  font-size: 1.9rem;
  text-shadow: 1px 0 0 var(--dark-color),0 1px 0 var(--dark-color), -1px 0 0 var(--dark-color),0 -1px 0 var(--dark-color);
}

.card-block__warrior-power {
  left: 0.35rem;
  top: 0.13rem;
}

.card-block__warrior-power.active {
  left: 0.5rem;
  top: 0.15rem;
}

.card-block__warrior-health {
  left: 0.4rem;
  top: 2rem;
  text-align: center;
}

.card-block__warrior-health.active {
  left: 0.5rem;
  top: 25%;
}

.card-block__warrior-cost {
  left: 0.3rem;
  top: 6.4rem;
}

.card-block__warrior-cost.active {
  left: 0.5rem;
  top: 82%;
}

.card-block__hero-health {
  right: 0.5rem;
  top: 0.4rem;
  text-align: center;
}

.card-block__description {
  display: flex;
  padding: 0.15rem;
  margin: 0;
  background: var(--light-brown-color);
  width: 100%;
  height: 100%;
  word-break: normal;
  overflow: hidden;
}

.card-block__font {
  font-size: 0.5rem;
  font-weight: 400;
  line-height: 0.6rem;
  text-align: start;
}

.card-block__font-active {
  text-align: start;
  font-size: 0.8rem;
  font-weight: 600;
  line-height: 1rem;
  margin: 0.1rem;
}

/* @media (min-width: 0) and (max-width: 767px) {
  .card-block_active {
    width: calc((var(--hand-card-width)) * 1.6);
    height: calc((var(--hand-card-width)) * 1.6 * 1.6);
  }

  .card-block__font-active {
    font-size: 0.8rem;
    font-weight: 600;
    line-height: 1rem;
  }
} */