/* Cell */

.defaultSize {
  width: calc(var(--cell-width) - 0.8rem);
  height: calc(var(--cell-width) - 0.8rem); 
}

.titleDefault {
  font-family: "Roboto-Bold", Helvetica;
  font-size: 0.6rem;
  word-break: break-word;
  text-align: center;
  margin: 0.5rem;
}

.spell {
  display: flex;
  justify-content: center;
  border: 0.2rem solid var(--dark-color);
  border-radius: 0.3rem;
  align-items: center;
  background-color: var(--light-brown-color), 0.7;
  padding: 0;
}

.bigSpell {
  display: flex;
  justify-content: center;
  border: 0.2rem solid var(--dark-color);
  border-radius: 0.3rem;
  align-items: center;
  width: calc(var(--cell-width) + 0.5rem);
  height: calc(var(--cell-width) - 0.8rem);
  padding: 0;
}

.defaultBtn {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
}

.field {
  background-image: url('../assets/battlefield/WarriorCell_square_withback.png');
  background-color: transparent;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  width: calc(var(--cell-width));
  height: calc(var(--cell-width) * 1.16);
  padding-bottom: 0.4rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-end;
}

.animationGreen {
  animation: 1.5s infinite alternate greenglowing;
}

@keyframes greenglowing {
  from {
    box-shadow: 0rem  0rem  0.3rem  0.3rem var(--green);
  }

  to {
    box-shadow: 0rem  0rem  0.5rem  0.5rem var(--green);
  }
}

.animationRed {
  animation: 1.5s infinite alternate redglowing;
}

@keyframes redglowing {
  from {
    box-shadow: 0rem  0rem  0.3rem  0.3rem var(--red-light);
  }

  to {
    box-shadow: 0rem  0rem  0.5rem  0.5rem var(--red-light);
  }
}

.cardAnimationEnter {
  opacity: 1;
  transform: scale(1.3);
}
.cardAnimationActive {
  opacity: 1;
  transform: scale(1);
  transition: opacity 500ms ease-in, transform 500ms ease-in;
}
.cardAnimationExit {
  transform: scale(1.3);
  transform: translate(0);
  opacity: 1;
}
.cardAnimationExitActive {
  opacity: 0;
  transform: scale(1.3);
  transition: opacity 500ms ease-in, transform 500ms ease-in;
}

.cellAnimationEnter {
  opacity: 0;
  height: 0;
  width: 0;
  transform: translateY(-100%);
}

.cellAnimationActive {
  opacity: 0;
  height: 0;
  width: 0;
  transform: translateY(-100%);
}

.cellAnimationDone {
  opacity: 1;
  height: 100%;
  width: 100%;
  transform: translateY(0);
  transition: opacity 500ms ease-in, transform 500ms ease-in;
}

.cellAnimationExit {
  opacity: 1;
}
.cellAnimationExitActive {
  opacity: 0;
  transition: opacity 0ms ease-in, transform 0ms ease-in;
}