/* Header */

.header {
  width: 100%;
  height: 7rem;
  margin-top: 0;
  display: flex;
  flex-wrap: nowrap;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.header__title {
  color: var(--dark-color);
  font-size: 1rem;
}

.header__players-info {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.header__counter {
  border-radius: 50%;
  background-color: var(--black-color);
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
}

.header__counter_num {
  font-size: 2rem;
  color: var(--white-color);
}

.header__central-block {
  background-color: var(--white-color);
  height: 100%;
  width: 100%;
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  border-radius: 0 0 0.3rem 0.3rem;
}

.header__endturn-btn {
  border: 0.3rem solid var(--purple);
  border-radius: 50%;
  background: var(--dark-red-color);
  height: 4rem;
  width: 4rem;
  font-size: 0.5rem;
  color: var(--white-color);
  cursor: pointer;
}

.header__menu-btn {
  border: none;
  font-size: 1rem;
  background: transparent;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}

.header__menu-btn > img {
  width: 100%;
  height: 100%;
}

@media (min-width: 0) and (max-width: 767px) {

}
