/* Header */

.container {
  width: 100%;
  height: 5rem;
  margin-top: 0;
  display: flex;
  flex-wrap: nowrap;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  position: relative;
  z-index: 5;
}

.titleBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  color: var(--dark-color);
  font-size: 1rem;
}

.playersInfo {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.counter {
  border-radius: 50%;
  background-color: var(--black-color);
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
}

.counterNum {
  font-size: 2rem;
  color: var(--white-color);
}

.centralBlock {
  background-color: var(--white-color);
  height: 100%;
  width: 100%;
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  border-radius: 0 0 0.3rem 0.3rem;
  z-index: 2;
}

.endturnBtn {
  border: 0.3rem solid var(--purple);
  border-radius: 50%;
  background: var(--dark-red-color);
  height: 4rem;
  width: 4rem;
  font-size: 0.5rem;
  color: var(--white-color);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.endturnBtn:hover {
  transform: scale(1.1);
}

.menuBtn {
  border: none;
  font-size: 1rem;
  background: transparent;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  transition: all 0.3s linear;
}

.menuBtn > img {
  width: 100%;
  height: 100%;
}

/* @media (min-width: 0) and (max-width: 767px) {
  .header {
    height: 5rem;
  }
} */
