/* Card */

.cardBlock {
  width: var(--hand-card-width);
  height: calc(var(--hand-card-width) * 1.6);
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  padding: 0;
  margin: 0;
  gap: 0;
  overflow: hidden;
  border: 0.2rem solid var(--black-color);
  border-radius: 0.4rem;
  transition: transform 0.3s linear;
  z-index: 1;
  cursor: pointer;
  overflow: visible;
}

.cardBlock:hover {
  transform: scale(1.1);
  z-index: 2;
}

.cardBlock_active {
  width: calc((var(--hand-card-width)) * 1.7);
  height: calc((var(--hand-card-width)) * 1.7 * 1.6);
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  padding: 0;
  margin: 0;
  gap: 0;
  overflow: hidden;
  border: 0.2rem solid var(--black-color);
  border-radius: 0.4rem;
  transition: transform 0.3s linear;
  z-index: 1;
  cursor: pointer;
  overflow: visible;
}

.imageContainer {
  position: relative;
  width: 100%;
  height: 70%;
  border: none;
  cursor: pointer;
}

.mainImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.imageContainer h3 {
  font-family: "Roboto", Helvetica;
  font-weight: 600;
  text-shadow: 0.1rem 0 0 var(--dark-color),0 0.1rem 0 var(--dark-color), -0.1rem 0 0 var(--dark-color),0 -0.1rem 0 var(--dark-color);
  font-size: 1.1rem;
  position: absolute;
}

.imageContainer.active h3 {
  font-size: 1.9rem;
  text-shadow: 0.1rem 0 0 var(--dark-color),0 0.1rem 0 var(--dark-color), -0.1rem 0 0 var(--dark-color),0 -0.1rem 0 var(--dark-color);
}

.warriorPower {
  color: var(--white-color);
  left: 0.4rem;
  top: 0.6rem;
}

.warriorPower.active {
  color: var(--white-color);
  left: 0.8rem;
  top: 1rem;
}

.warriorDefPow {
  color: var(--white-color);
  left: 0.4rem;
  top: 2.3rem;
}

.warriorDefPow.active {
  color: var(--white-color);
  left: 0.8rem;
  top: 4rem;
}

.warriorHealth {
  color: var(--white-color);
  left: 0.4rem;
  top: 4.4rem;
  text-align: center;
}

.warriorHealth.active {
  color: var(--white-color);
  left: 0.8rem;
  top: 57%;
}

.warriorCost {
  color: var(--white-color);
  left: 0.45rem;
  top: 6.25rem;
}

.warriorCost.active {
  color: var(--white-color);
  left: 0.8rem;
  top: 80%;
}

.shieldIcon {
  position: absolute;
  height: 1.6rem;
  width: 1.6rem;
  top: 4.3rem;
  left: 0;
}

.shieldIcon.active {
  position: absolute;
  height: 2.6rem;
  width: 2.6rem;
  top: 7.5rem;
  left: 0.1rem;
}

.costIcon {
  position: absolute;
  height: 1.5rem;
  width: 1.5rem;
  top: 6.1rem;
  left: 0.1rem;
}

.costIcon.active {
  position: absolute;
  height: 2.5rem;
  width: 2.5rem;
  top: 10.7rem;
  left: 0.1rem;
}

.cardCharges {
  left: 0.45rem;
  top: 4.3rem;
  color: var(--golden);
}

.cardCharges.active {
  left: 0.8rem;
  top: 55%;
  color: var(--golden);
}

.heroHealth {
  color: var(--white-color);
  right: 0.5rem;
  top: 0.4rem;
  text-align: center;
}

.description {
  padding: 0.3rem;
  margin: 0;
  /* background: var(--light-brown-color); */
  background-image: url("@assets/CardTextGroup.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  word-break: normal;
  overflow: hidden;
  border: none;
  cursor: pointer;
}

.font {
  font-family: SuperClare;
  font-size: 0.5rem;
  font-weight: 400;
  line-height: 0.6rem;
  text-align: center;
}

.fontActive {
  font-family: SuperClare;
  text-align: center;
  font-size: 0.9rem;
  font-weight: 600;
  line-height: 1rem;
  margin: 0.1rem;
}

.cardName {
  font-family: RobSuperClare;
  position: absolute;
  font-size: 0.6rem;
  color: var(--light-gray);
  right: 0.4rem;
  margin-top: 0.1rem;
}

.cardName.nameLeft {
  left: 0.6rem;
  right: auto;
}

.cardNameActive {
  font-size: 0.8rem;
  margin-top: 0.2rem;
  right: 0.6rem;
}

.cardNameWindow {
  font-size: 1rem;
  margin-top: 0.3rem;
  right: 0.6rem;
}

.heroNameActive {
  position: absolute;
  font-size: 0.8rem;
  color: var(--white-color);
  left: 0.6rem;
  margin-top: 0.2rem;
}

.cardCanBePlayed {
  box-shadow: 0rem  0rem  0.3rem  0.3rem var(--golden-bright);
}

.bigCard {
  z-index: 5;
}

@media (min-width: 0) and (max-width: 935px) {

  .cardBlock_active {
    width: calc((var(--hand-card-width)) * 1.75);
    height: calc((var(--hand-card-width)) * 1.6 * 1.75);
  }

  .bigCard {
    transform: scale(1.5);
  }

  .activeWindowCard {
    width: calc((var(--hand-card-width)) * 2.3);
    height: calc((var(--hand-card-width)) * 1.6 * 2.3);
  }
}
  