/* HeroPad */

.padContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.heroPad1 {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  gap: 1rem;
  margin-top: 3.5rem;
  align-items: center;
}

.onlineMargin {
  margin-top: 0;
}

.heroPad2 {
  display: grid;
  grid-template-columns: repeat(1, auto);
  grid-template-rows: auto;
  gap: 1.6rem;
  align-items: start;
  margin-top: 0.3rem;
}

.defaultBtn {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  cursor: pointer;
  position: relative;
  margin-top: -7.4rem;
}
 
.cells {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-end;
  border: 0.2rem solid var(--dark-color);
  border-radius: 0.3rem;
  align-items: center;
  background-color: transparent;
  width: calc(var(--cell-width) - 0.8rem);
  height: calc((var(--cell-width) - 0.8rem) * 1.14);
}

.cardsCounterCell {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-end;
  border: 0.2rem solid var(--dark-color);
  border-radius: 0.3rem;
  align-items: center;
  background-color: transparent;
  width: calc(var(--cell-width) - 0.8rem);
  height: calc((var(--cell-width) - 1.8rem));
}

.counterCell {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  border: 0.2rem solid var(--dark-color);
  border-radius: 50%;
  align-items: center;
  background-color: transparent;
  width: calc(var(--cell-width) - 0.8rem);
  height: calc((var(--cell-width) - 0.8rem));
}

.attackIcon {
  position: absolute;
  left: 0;
  right: 0;
  top: auto;
  bottom: auto;
  width: 5rem;
  height: 5rem;
  animation: 1.5s 1 normal attacked;
  opacity: 0;
  z-index: 10;
}

.message {
  position: absolute;
  bottom: 0;
  width: calc(var(--cell-width) - 0.8rem);
  height: 5rem;
  background-color: var(--light-gray);
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 0.1rem solid var(--dark-color);
  z-index: 2;
  transition: all 0.5s ease-in-out;
  transform: translateY(100%);
  overflow: hidden;
}

.msgBody {
  text-align: start;
  font-size: 1rem;
  color: var(--dark-color);
  line-height: 1.2rem;
  position: relative;
}

@keyframes attacked {
  from {
    transform: rotate(-45deg);
    opacity: 1;
  }

  to {
    transform: rotate(60deg);
    opacity: 1;
  }
}

.sucrificeActive {
  animation: 1.5s infinite alternate glowing;
}

@keyframes glowing {
  from {
    box-shadow: 0rem  0rem  0.3rem  0.3rem var(--golden-bright);
  }

  to {
    box-shadow: 0rem  0rem  0.5rem  0.5rem var(--golden-bright);
  }
}

.animationGreen {
  animation: 1.5s infinite alternate greenglowing;
}

.animationRed {
  animation: 1.5s infinite alternate redglowing;
}

@keyframes greenglowing {
  from {
    box-shadow: 0rem  0rem  0.3rem  0.3rem var(--green);
  }

  to {
    box-shadow: 0rem  0rem  0.5rem  0.5rem var(--green);
  }
}

@keyframes redglowing {
  from {
    box-shadow: 0rem  0rem  0.3rem  0.3rem var(--red-light);
  }

  to {
    box-shadow: 0rem  0rem  0.5rem  0.5rem var(--red-light);
  }
}

.secondType:nth-of-type(1) {
  order: 1;
}

.secondType:nth-of-type(3) {
  order: 2;
}

.secondType:nth-of-type(5) {
  order: 3;
}

.secondType:nth-of-type(2) {
  order: 4;
}

.secondType:nth-of-type(4) {
  order: 5;
}

.secondPlayer:nth-of-type(2) {
  order: 1;
}

.secondPlayer:nth-of-type(1) {
  order: 2;
}

.secondPlayer:nth-of-type(4) {
  order: 3;
}

.secondPlayer:nth-of-type(3) {
  order: 4;
}

.heroHealth {
  color: var(--white-color);
  font-family: "Roboto-Bold", Helvetica;
  text-shadow: 1px 0 0 var(--dark-color),0 1px 0 var(--dark-color), -1px 0 0 var(--dark-color),0 -1px 0 var(--dark-color);
  font-size: 0.8rem;
  position: absolute;
  top: 0.4rem;
  right: 0.5rem;
  text-align: center;
}

.cardsCount {
  color: var(--white-color);
  font-family: "Roboto-Bold", Helvetica;
  text-shadow: 1px 0 0 var(--dark-color),0 1px 0 var(--dark-color), -1px 0 0 var(--dark-color),0 -1px 0 var(--dark-color);
  font-size: 1.3rem;
  position: absolute;
  top: 0.4rem;
  left: auto;
  right: 0;
  left: 0;
  text-align: center;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 0.1rem solid var(--dark-color);
  border-radius: 0.2rem;
}

.graveCardTitle {
  position: absolute;
  font-size: 0.4rem;
  color: var(--black-font);
  right: 0;
  left: 0;
  margin-top: 0.3rem;
}

.defaultTitle {
  font-family: "Roboto-Bold", Helvetica;
  font-size: 0.6rem;
  word-break: break-word;
  text-align: center;
  margin: 0.5rem;
}

.deckContainer {
  display: flex;
  flex-wrap: nowrap;
  gap: 1rem;
}

.reverse-flex-row {
  flex-direction: row-reverse;
}

.cardAnimationEnter {
  opacity: 1;
  transform: scale(1.5);
}
.cardAnimationActive {
  opacity: 1;
  transform: scale(1);
  transition: opacity 700ms ease-out, transform 700ms ease-out;
}
.cardAnimationExit {
  transform: scale(1.3);
  transform: translate(0);
  opacity: 1;
}
.cardAnimationExitActive {
  opacity: 0;
  transform: scale(1.3);
  transition: opacity 500ms ease-in, transform 500ms ease-in;
}

.counter {
  border-radius: 50%;
  background-color: var(--black-color);
  background-image: url("@assets/ActionPointsCounter.png");
  background-size: cover;
  height: 6rem;
  width: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
}

.counterNum {
  font-size: 2.5rem;
  text-shadow: 0.1rem 0 0 var(--dark-color),0 0.1rem 0 var(--dark-color), -0.1rem 0 0 var(--dark-color),0 -0.1rem 0 var(--dark-color);
  color: var(--white-color);
}

.noBorder {
  border: none;
}

.heroCanAct {
  box-shadow: 0rem  0rem  0.3rem  0.3rem var(--golden-bright);
}

.fistRound {
  z-index: 6;
}