.container {
  position: fixed; /* Stay in place */
  display: flex;
  justify-content: center;
  align-items: top;
  z-index: 10; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.contentDark {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  background-color: var(--purple);
  margin: auto; /* 15% from the top and centered */
  padding: 15px 30px;
  border: 1px solid #888;
  width: 700px; /* Could be more or less, depending on screen size */
  height: 700px;
  border-radius: 0.5rem;
  color: var(--light-gray);
}

.headerLight {
  color: var(--light-gray);
  font-size: 30px;
  text-align: center;
}

.hotseatForm {
  height: 100%;
}

.fieldset {
  height: 100%;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  justify-content: center;
}

.playerSlides {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  align-items: top;
}

.slideBlock {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.slideInput {
  display: none;
}

.label {
  height: 2rem;
  min-height: 10px;
  width: 4rem;
  font-weight: 600;
  font-size: 30px;
  background-color: transparent;
  color: var(--light-gray);
  border: none;
  text-align: center;
  width: 100%;
  padding: 0;
  line-height: 1.5rem;
}

.description {
  font-weight: 600;
  font-size: 13px;
  padding: 10px;
  border: 2px solid var(--golden);
  color: var(--light-gray);
  width: 300px;
  height: 100px;
}

.player {
  color: var(--golden);
  font-size: 30px;
  width: 10rem;
}

.link {
  text-decoration: none;
}

.roomsOwner {
  color: var(--dark-golden);
  font-weight: 600;
  font-size: 25px;
}

.btnBlock {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.invalidFeedback {
  color: var(--red-light);
  font-size: 18px;
}

.inputBlock {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  height: 80px;
}

.input {
  height: 45px;
  width: 300px;
  font-weight: 600;
  border-radius: 10px;
  padding: 20px;
  font-size: 20px;
  background-color: var(--dark-blue);
  color: var(--light-gray);
  text-align: start;
  border: 1px solid var(--light-gray);
  outline-color: var(--golden);
}

.lowerBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}


@media (max-width: 900px) {
  .fieldset {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    grid-auto-flow: column;
    justify-content: start;
    align-content: start;
    gap: 15px 30px;
  }

  .btnBlock {
    flex-direction: column;
    align-items: start;
  }

  .label {
    font-size: 20px;
  }

  .contentDark {
    height: 380px;
    width: 650px;
  }

  .headerLight {
    font-size: 15px;
  }
  .playerSlides {
    gap: 30px;
  }

  .description {
    font-weight: 600;
    font-size: 10px;
    padding: 10px;
    border: 2px solid var(--golden);
    color: var(--light-gray);
    width: 150px;
    height: 120px;
  }

  .input {
    margin-top: 60px;
    width: 240px;
  }

  .lowerBlock {
    align-items: start;
  }

  .roomsOwner {
    font-size: 15px;
  }
}

@media (max-width: 650px) {
  .fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    justify-content: center;
  }
  .contentDark {
    height: 650px;
    width: 320px;
  }

  .btnBlock {
    flex-direction: column;
    align-items: center;
  }

  .headerLight {
    font-size: 15px;
  }
  .playerSlides {
    flex-direction: column;
    gap: 30px;
  }

  .lowerBlock {
    align-items: center;
  }

  .description {
    font-weight: 600;
    font-size: 10px;
    padding: 10px;
    border: 2px solid var(--golden);
    color: var(--light-gray);
    width: 250px;
    height: 80px;
  }

  .roomsOwner {
    font-size: 15px;
  }

  .input {
    margin-top: 0;
    width: 240px;
  }
}

