.window {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: wrap;
  align-items: center;
  flex-wrap: nowrap;
  background-color: var(--dark-blue);
  margin: auto auto; /* 15% from the top and centered */
  padding: 1rem;
  border: 1px solid #888;
  width: 370px; /* Could be more or less, depending on screen size */
  height: 340px;
  border-radius: 10px;
}