.window {
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  display: flex;
  flex-direction: wrap;
  align-items: center;
  flex-wrap: nowrap;
  background-color: var(--dark-color);
  background-image: url('@assets/BrownBack.png');
  padding: 2rem;
  border: 2px ridge var(--golden);
  margin: auto auto; /* 15% from the top and centered */
  padding: 1rem;
  border-radius: 10px;
  transition: all 0.3s linear;
}

.left {
  left: 0;
  right: auto;
}

.open {
  transform: translateX(0);
}

.closed {
  transform: translateX(100%);
}

.left.closed {
  transform: translateX(-100%);
}

