.sender {
  font-size: 18px;
  color: var(--light-gray);
}

.youSender {
  color: var(--dark-red-color);
}

.otherSender {
  color: var(--dark-golden);
}

.msg {
  font-size: 18px;
  color: var(--light-gray);
  white-space: normal;
  overflow-wrap: break-word;
}

.msgBlock {
  width: 100%;
}


@media (max-width: 500px) {
  .sender {
    font-size: 16px;
  }
  .msg {
    font-size: 16px;
  }
}