.sender {
  font-size: 20px;
  color: var(--light-gray);
}

.msg {
  font-size: 20px;
  color: var(--light-gray);
}


@media (max-width: 500px) {
  .sender {
    font-size: 16px;
  }
  .msg {
    font-size: 16px;
  }
}